.hero-wrapper {
  background: url("../../assets/home/desktop/bg-pattern-hero-home.svg"),
    var(--clr-peach);
  background-repeat: no-repeat;
  background-position: center left;
  overflow: hidden;
}

.hero {
  padding-top: 4rem;
  flex-direction: column;
}

.hero-text {
  padding: 0 2rem;
}

.hero-heading,
.hero-sub-heading {
  padding-bottom: 1rem;
}

.home-btn {
  display: block;
  margin-top: 1.25rem;
}

.hero-img {
  background: url("../../assets/home/desktop/image-hero-phone.png");
  background-position: center -5rem;
  background-repeat: no-repeat;
  height: 30rem;
}

.home-services {
  gap: 2rem;
}

.features {
  gap: 4rem;
}

@media (min-width: 40rem) {
  .hero-wrapper {
    border-radius: 0.5rem;
  }

  .hero-sub-heading {
    padding: 1rem 2rem;
  }
}

@media (min-width: 60rem) {
  .hero-wrapper {
    background-position: right top;
  }

  .hero {
    flex-direction: row;
    padding-top: 0;
    max-width: 60rem;
    margin: 0 auto;
  }

  .hero-text {
    padding: 9.0625rem 0;
    text-align: left;
    flex-basis: 70%;
    padding-left: 1rem;
  }

  .hero-img {
    height: 41rem;
    background-position: center -1rem;
    flex-basis: 56%;
  }

  .hero-sub-heading {
    padding-left: 0;
    padding-right: 0;
  }

  .home-services {
    grid-template-areas:
      "web app"
      "web graphic";
  }

  .web {
    grid-area: web;
  }
  .app {
    grid-area: app;
  }
  .graphic {
    grid-area: graphic;
  }

  .features {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
