.hero {
  background: url("../assets/home/desktop/bg-pattern-hero-home.svg"),
    var(--clr-peach);
  background-repeat: no-repeat;
  background-position: center left;
  overflow: hidden;
  padding-top: 4rem;
  border-radius: 0;
  flex-direction: column;
}

.hero-text {
  padding: 0 2rem;
}

.hero-heading,
.hero-sub-heading {
  padding-bottom: 1rem;
}

.home-btn {
  display: block;
  margin-top: 2rem;
}

.hero-img {
  background: url("../assets/home/desktop/image-hero-phone.png");
  background-position: center -4rem;
  background-repeat: no-repeat;
  height: 30.5rem;
}

@media (min-width: 40rem) {
  .hero {
    border-radius: 0.5rem;
  }
}
