.service {
  background: url("../assets/home/desktop/bg-pattern-hero-home.svg"),
    var(--clr-peach);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  padding: 6.56rem 1.5rem;
}

.service-title {
  margin-bottom: 2rem;
}

@media (min-width: 40rem) {
  .service {
    border-radius: 0.5rem;
  }
}
