.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  display: incline-block;
  padding: 1.125em;
  border-radius: 0.75rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 300ms ease-in-out;
}

.btn:hover {
  background: var(--clr-lt-peach);
  color: var(--clr-white);
}

.btn-dark {
  color: var(--clr-black);
  background: var(--clr-white);
}

.btn-light {
  color: var(--clr-white);
  background: var(--clr-peach);
}
