.cat {
  z-index: 2;
  padding: 3rem 1rem;
  text-align: center;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  background: url("./../assets/shared/desktop/bg-pattern-call-to-action.svg"),
    var(--clr-peach);
  background-size: cover;
  background-position: center;
  margin-bottom: -10rem;
}

.cat-text h2 {
  margin-bottom: 0.5rem;
  padding: 0 2rem;
}

.cat-btn {
  padding-bottom: 0rem;
}

@media (min-width: 40rem) {
  .cat {
    margin-bottom: -5rem;
  }

  .cat-text h2 {
    padding: 0 6rem;
  }

  .cat-text p {
    padding: 0 3rem;
  }

  .cat-btn {
    margin-top: 1rem;
  }
}

@media (min-width: 50rem) {
  .cat {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
  }

  .cat-text {
    padding: 0;
    text-align: left;
    flex-basis: 45%;
  }

  .cat-text h2,
  .cat-text p {
    padding: 0;
  }
}
