header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo {
  width: 13rem;
  padding: 4rem 0;
}

.navigation ul {
  gap: 2rem;
}

.linkItem {
  text-decoration: none;
  padding-bottom: 0.5rem;
}

.nav-btn {
  display: none;
}

.navbar {
  align-items: center;
  justify-content: space-between;
}

.navigation a.active {
  padding-bottom: 0.75rem;
  border-bottom: 3px solid #000;
}

.navigation a {
  position: relative;
}

.navigation a::before {
  content: "";
  width: 100%;
  position: absolute;
  top: -0.7rem;
  border-top: 3px solid #000;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 400ms ease-in-out;
}

.navigation a:hover::before {
  transform: scale(1, 1);
}

.overlay {
  display: none;
}

@media (max-width: 40rem) {
  .logo {
    padding: 2.125rem 0;
  }

  .navbar {
    position: relative;
    justify-content: space-between;
  }

  .navigation {
    padding: 2rem 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--clr-lt-grey);
    width: 100%;
    text-align: center;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
    z-index: 2;
  }

  .navigation[data-visible="true"] {
    transform: scale(1, 1);
  }

  .nav-btn {
    display: block;
    position: absolute;
    inset: 0 2rem auto auto;
    height: 100%;
    width: 1.5rem;
    display: flex;
    align-items: center;
  }

  .nav-btn > span {
    background: url("./../../assets/shared/mobile/icon-hamburger.svg");
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
  }
  .nav-btn > span[data-visible="true"] {
    background: url("./../../assets/shared/mobile/icon-close.svg");
    background-repeat: no-repeat;
  }

  .navigation ul {
    flex-direction: column;
    padding: 0;
  }

  .navigation li {
    padding: 1rem 0;
  }

  .navigation a {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  .navigation a::before {
    display: none;
  }

  .navigation[data-visible="true"] a {
    opacity: 1;
    transition: opacity 100ms ease-in-out 420ms;
  }

  .overlay[data-visible="true"] {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 5rem);
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    z-index: 1;
  }
}
